<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
    <th>Description</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><img src = <%= post.url %> width='100' height='auto'/> </td>
      <td><%= post.description %></td>
    </tr>
  <% end %>
</table>