<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Url:</strong>
  <img src = <%= @post.url %> />
</p>

<p>
  <strong>Url:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Back', posts_path %>